body {
    font-family: Arial;
    margin: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
}

/* Responsive */
@media (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
    }
}